* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: rgb(7, 7, 7);
  font-size: 13px;
  margin-right: 50px;
  cursor: pointer;
}

a:hover {
  color: rgb(23, 98, 219);
}

.active {
  color: rgb(23, 98, 219);
}

.sign-up-button {
  background-color: rgb(23, 98, 219);
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-right: 50px;
}

.second-div {
  display: flex;
  align-items: center;
  gap: 150px;
  margin: 150px 0 150px 100px;
  height: 600px;
  justify-content: center;
}

input {
  border-radius: 5px;
  width: 600px;
  border-style: ridge;
  font-size: 15px;
  height: 45px;
  padding-left: 10px;
  box-shadow: 2px 2px 2px rgb(202, 201, 201);
  margin: 20px 0;
  border: none;
}

img {
  width: 400px;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 5px 3px 5px rgb(202, 201, 201);
}

.bold {
  font-weight: 900;
  font-size: 20px;
}

h1 {
  font-weight: bolder;
  font-size: 70px;
  margin: 20px 0;
}

.clip-button {
  background-color: rgb(23, 98, 219);
  border-radius: 4px;
  width: 140px;
  border-style: none;
  height: 50px;
  color: white;
  cursor: pointer;
  margin: 20px 0;
}

.footer-container {
  display: flex;
  gap: 150px;
  font-size: 14px;
  margin: 50px 0 70px 100px;
  font-weight: 600;
}

hr {
  border-style: outset;
}

li {
  list-style: none;
}

.grey-paragraph {
  color: grey;
  font-weight: bolder;
  font-size: 12px;
}

#footer-paragraph {
  color: rgb(105, 104, 104);
  font-weight: 200;
}

.footer-list {
  margin-bottom: 10px;
}
